body {
    font-family: Arial, sans-serif;
    margin: 0%;
    background-color: #18154d;
    background-image: url("https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/blt137525ab5e3632ba/65e7288afffe5a219d1cd6b8/Ep8a2_Defiance_Playval.com_Act_Overview_banner_3440x1020_Darkbg.jpg");;
    background-size: 158%;
    background-repeat: no-repeat;
  }
  
  h1 {
    text-align: center;
    margin-top: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  #titulo{
    padding-left: 500px;
    padding-right: 500px;
    padding: 15px;
    margin: 0%;
    background-color:#18154d;
    color:#fff
  }
  
  #guess-input {
    display: block;
    margin: 0 auto 20px;
    padding: 10px;
    font-size: 18px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  #guess-button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #ebffa4;
    color: rgb(9, 17, 20)000;
    border: 3px solid #ebffa4;
    border-radius: 3px;
    cursor: pointer;
  }
  #guess-button:hover{
    background-color: #edfc68;
    border: 3px solid #ebffa4;
  }
  
  #guess-button:active {
    transform: scale(0.95);
  }
  
  .letter {
    border: 1px solid black;
    padding: 5px;
    margin: 3px;
    min-width: 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
  }
  
  .row {
    margin-bottom: 10px;
  }
  
  .input-area {
    margin: 30px auto;
    text-align: center;
  }
  
  #attempts {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
    color: #eae6e6;
  }
  
  #guesses {
    text-align: center;
    margin-bottom: 20px;
    color: aliceblue;
  }
  
  #message {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 20px;
    color: rgb(75, 240, 255);
  }
  
  #grid {
    text-align: center;
    margin: 0 auto;
    max-width: 250px;
  }
